/*langs*/
/*.header .header__langs {
	margin: 20px 0 0 0;
	overflow: hidden;
}
.footer .header__langs {
	float: left;
}
.header__langs .active, .header__langs *:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-webkit-filter: brightness(70%);
	   -moz-filter: brightness(70%);
		-ms-filter: brightness(70%);
		 -o-filter: brightness(70%);
			filter: brightness(70%);
}
.lang_ru {
	width: 21px;
	height: 14px;
	float: left;
	background: url(../images/lang_ru.png) 0 0 no-repeat;
}
.lang_en {
	width: 21px;
	height: 14px;
	float: left;
	margin: 0 0 0 5px;
	background: url(../images/lang_en.png) 0 0 no-repeat;
}
.lang_de {
	width: 21px;
	height: 14px;
	float: left;
	margin: 0 0 0 5px;
	background: url(../images/lang_de.png) 0 0 no-repeat;
}
.lang_fr {
	width: 21px;
	height: 14px;
	float: left;
	margin: 0 0 0 5px;
	background: url(../images/lang_fr.png) 0 0 no-repeat;
}
.lang_es {
	width: 21px;
	height: 14px;
	float: left;
	margin: 0 0 0 5px;
	background: url(../images/lang_es.png) 0 0 no-repeat;
}
.lang_pt {
	width: 21px;
	height: 14px;
	float: left;
	margin: 0 0 0 5px;
	background: url(../images/lang_pt.png) 0 0 no-repeat;
}*/
.footer .footer__logo {
	float: left;
}
.footer .header__langs {
    float: left;
    margin: 10px 0 0 0;
}
.footer .footer__copyright {
	clear: both;
}
.single .footer {
	height: auto;
}
html {
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
}
body.main {
	background: none;
}
.bg {
	background: url(http://triplook.info/images/main_bg.jpg) center top no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.footer {
	margin: -90px auto 0;
	height: 90px;
	position: relative;
	padding: 0;
}
.main .footer {
	height: 90px;
}
.footer .wrap {
	padding: 20px 0 16px 0;
	overflow: hidden;
}
.empty-list-container {
	padding: 18px 10px 24px;
}
.menu__button {
	width: 65px;
	height: 70px;
	display: block;
	float: left;
	cursor: pointer;
	margin: 0px 5px 0 0px;
	display: none;
	background: rgba(255,255,255,0);
	-webkit-transition: background-color 400ms linear;
	-moz-transition: background-color 400ms linear;
	-o-transition: background-color 400ms linear;
	transition: background-color 400ms linear;
}
.menu__button:before {
	content: "";
	display: block;
	width: 33px;
	height: 27px;
	margin: 20px 0 0 15px;
	background: url(../images/mob_nav.png) 0 0 no-repeat;
}
.menu__button.active {
	position: relative;
	z-index: 12;
	background: rgba(255,255,255,1);
}
.menu__button.active:before {
	background: url(../images/mob_nav.png) 0 -27px no-repeat;
}
.userpanel__alerts {
	display: none;
}
.userpanel__messages {
	display: none;
}
.userpanel__create {
	display: none;
}
.logout__li {
	display: none;
}
.blackout {
	display: none;
}
.mob__from, .mob__to, .mob__date {
	display: none;
}
.mob__submit {
	display: none !important;
}
.inner {
	height: 100%;
}
@media (max-width: 768px) {


}

@media (max-width: 992px) {
	.inside .bg {
		background: #fff;
	}
	.inside .inner {
		width: auto;
		min-width: 460px;
		position: static;
		height: 100%;
		width: 100%;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

	}
	.inside .container {
		background: #fff;
		margin-top: 70px;
	}
	.inside .middle {
		min-height: 0px;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		margin-bottom: 90px;
		background: none;
	}
	.inside .header {
		background: rgba(149, 195, 120, 1);
		height: 70px;
		position: fixed;
		left: 0;
		right: 0;
		-webkit-transition: background-color 200ms linear;
		-moz-transition: background-color 200ms linear;
		-o-transition: background-color 200ms linear;
		transition: background-color 200ms linear;
	}
	.inside .header .header__logo {
		margin: 10px 0 0px 0px;
	}
	.inside .header__desc {
		display: none;
	}
	.sidebar {
		float: none;
		clear: both;
		margin: 0;
		top: 70px;
		left: 0;
		display: none;
		position: fixed;
		z-index: 10;
		box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
		width: 60%;
	}
	.container {
		overflow: visible;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 10px;
		min-height: 0px;
	}
	.content {
		padding: 0;
	}
	.site-menu {
		background: #fff;
		margin: 0 !important;
	}

	.scrollblock {
		width: 100%;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
	}
	.empty-list-container {
		width: auto;
	}
	.footer .footer__logo {
		margin: 0 20px 0 0;
	}
	.header__nav {
		display: block;
		float: left;
	}
	.menu__button {
		display: block;
	}
	.header .header__panel {
		margin: 23px 15px 0 0;
	}
	.userpanel .userpanel__name {
		display: none;
	}
	.userpanel .userpanel__settings {
		display: none;
	}
	.userpanel .userpanel__logout {
		display: none;
	}
	.usernav .usernav__list {
		margin: 0;
		padding: 0;
	}
	.usernav__create {
		width: auto;
	}
	.title {
		font-size: 26px;
		font-weight: 400;
		line-height: 26px;
	}
	.usernav {
		margin: 0;
	}
	.userpanel__create {
		float: left;
		width: 37px;
		height: 33px;
		background: url(../images/mob_add.png) 0 0 no-repeat;
		text-indent: -99999em;
		font-size: 0px;
		margin: 7px 15px 0 0;
	}
	.userpanel__create a {
		display: block;
		width: 37px;
		height: 33px;
	}
	.usernav__list {
		width: auto;
	}
	.usernav .usernav__list li.sub span {
		margin: 0;
		height: 36px;
		line-height: 36px;
		padding: 0 20px 0 44px;
	}
	.ico_page span:before {
		top: 6px;
	}
/*	.ico_page span:before, .ico_friends span:before {
		top: 13px;
	}*/
/*	.ico_air span:before {
		top: 18px;
	}*/
	.usernav .usernav__list li {
		margin: 0;
		padding: 2px 0;
	}
	.usernav .usernav__list li.sub {
		padding: 0;
	}
	.userpanel__logout {
		position: relative;
		margin: 0 !important;
		height: 36px !important;
		line-height: 36px !important;
	}
	.userpanel__logout:after {
		content: "Выход";
		color: #5b676a;
	}
	.userpanel__logout:before {
		content: "";
		position: absolute;
		left: 12px;
		top: 6px !important;
		background: url("../images/mob_logout.png") 0 0 no-repeat;
		width: 17px;
		height: 19px;
	}
	.userpanel__messages {
		float: left;
		width: 42px;
		height: 27px;
		background: url(../images/mob_message.png) 0 0 no-repeat;
		text-indent: -99999em;
		font-size: 0px;
		margin: 9px 20px 0 0;
		position: relative;
	}
	.userpanel__messages a {
		display: block;
		width: 100%;
		height: 100%;
	}
	.userpanel__alerts {
		float: left;
		width: 36px;
		height: 31px;
		background: url(../images/mob_alert.png) 0 0 no-repeat;
		text-indent: -99999em;
		font-size: 0px;
		margin: 5px 20px 0 0;
		position: relative;
	}
	.userpanel__alerts a {
		display: block;
		width: 100%;
		height: 100%;
	}
	.search__block .title_search {
		text-align: center;
		background: none;
		float: none;
		width: auto;
		padding: 0;
	}
	.search__block .title_search:before {
		content: "";
		display: inline-block;
		vertical-align: top;
		width: 26px;
		height: 26px;
		margin: 1px 10px 0 0;
		background: url(../images/title_search.png) left center no-repeat;
	}
	#travel-search-form .search__form__subtitle {
		display: none;
	}
	#travel-search-form .form__further__head {
		text-indent: -99999em;
		font-size: 0px;
		width: 30px;
		height: 17px;
		left: 50%;
		top: -3px;
		margin: 0 0 0 -15px !important;
		padding: 0 !important;
		border: 0 !important;
		background: url(../images/mob_expand.png) 0 0 no-repeat;
	}
	#travel-search-form .form__further__head_open {
		background: url(../images/mob_expand.png) 0 -17px no-repeat !important;
		top: -15px !important;
	}
	#search-form-city {
		width: 100%;
	}
	#search-form-resort {
		width: 100%;
	}
	.search__form__date span {
		display: none;
	}
	.search__form__further {
		clear: both;
	}
	.result_search {
		width: auto;
	}
	.search__companion__list .search__companion__item {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 48%;
		height: auto;
	}
	.search__companion__list {
		margin: 0 0 0 -1%;
		width: 102%;
	}
	.search__companion__icon img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
	.search__companion__list .search__companion__item {
		margin: 0 0 12px 1%;
	}
	.search__companion__list .search__companion__more {
		padding: 0 10px;
	}
	.search__companion__list .search__companion__select {
		padding: 0 10px;
	}
	.userpanel__alerts {
		display: block;
	}
	.userpanel__messages {
		display: block;
	}
	.userpanel__create {
		display: block;
	}
	.logout__li {
		display: block;
	}
	.logout__li a {
		display: block !important;
		cursor: pointer !important;
	}
	.page_block {
		width: auto;
	}
	.search {
		padding-left: 0;
	}
	.bread__crumbs {
		margin-left: 0;
	}
	.page_block {
		margin-left: 0;
	}
	.nav__select {
		width: auto;
	}
	.usernav .usernav__create {
		display: none;
	}
	.setting__item__further .further__more textarea {
		width: 100%;
		margin: 0;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.travels-search-result {
		width: auto;
		padding: 18px 20px 24px;
	}
	.repose__item .repose__photo .photo {
		width: 30%;
	}
	.repose__item .repose__photo {
		width: auto;
	}
	.blackout {
		position: fixed;
		width: 100%;
		bottom: 0;
		top: 70px;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0.6);
		z-index: 9;
		-webkit-transition: background-color 400ms linear;
		-moz-transition: background-color 400ms linear;
		-o-transition: background-color 400ms linear;
		transition: background-color 400ms linear;
	}
	.inside html.noscroll {
		overflow: hidden !important;
	}
	.inside .header.scroll {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		background: rgba(149, 195, 120, 1);
	}
	.mob__from {
		display: block;
		width: 49%;
		height: 39px !important;
		float: left;
		text-align: center;
		background: url(../images/mob_from.png) 10px 10px no-repeat;
		cursor: pointer;
		padding: 0;
		margin: 0;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.mob__to {
		display: block;
		width: 49%;
		height: 39px !important;
		margin: 0 0 0 1%;
		padding: 0;
		float: left;
		text-align: center;
		background: url(../images/mob_to.png) 10px 10px no-repeat;
		cursor: pointer;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.mob__date {
		display: block;
		position: absolute;
		right: 112px;
		width: 40px;
		height: 39px;
		border: 1px solid #E8E8E8;
		border-radius: 2px;
		cursor: pointer;
		background: #fff url(../images/mob_date.png) center center no-repeat;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.mob__submit {
		display: block;
	}
	.search-page-container {
		margin: 0;
	}
	#search-form-container {
		background: #FBFBFB;
		padding: 10px 10px 0 15px;
		margin: 0 0 0 -15px;
		width: 100%;
	}
	.search__form {
		border: 0;
		padding: 0;
	}
	#travel-search-button {
		height: 39px;
		position: absolute;
		right: 0;
		width: 108px;
		padding: 0 20px 0 40px;
		margin: 0;
		line-height: inherit;
		background-position: 14px 11px;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.mob__submit {
		display: block !important;
	}
	.search__form .search__form__find {
		display: none;
	}
	.popup__city__form {
		display: none;
		position: absolute;
		z-index: 12;
		background: #fff;
		left: 0;
		top: 42px;
		margin: 0;
		padding: 25px;
		width: 100%;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
		box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	}
	.popuprt:before {
		position: absolute;
		top: -11px;
		left: 50px;
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 12px 12px 12px;
		border-color: transparent transparent #fff transparent;
	}
	.popuprt.active .search__form__subtitle {
		display: block !important;
	}
	.popup__resort__form {
		display: none;
		position: absolute;
		z-index: 12;
		background: #fff;
		left: 0;
		top: 42px;
		margin: 0;
		padding: 25px;
		width: 100%;
		border-radius: 2px;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.popup__date__form {
		display: none;
		position: absolute;
		z-index: 12;
		background: #fff;
		left: 0;
		top: 42px;
		margin: 0;
		padding: 25px;
		width: 100%;
		border-radius: 2px;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.search__form__select {
		position: static;
	}
	.fast-search-from {
		width: 150px !important;
	}
	.search__sex {
		width: 150px !important;
	}
	.usernav .usernav__list li a {
		padding: 10px 20px 10px 44px;
	}
	.profile__user .profile__text {
		width: 45%;
		margin: 0 0 0 2%;
	}
	.profile__user .profile__icon {
		width: 45%;
	}
	.profile__user .profile__icon img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	.wishlist__search {
		width: auto;
	}
	.repose__item .repose__photo .photo + .photo {
		margin: 0 0 0 2%;
	}
	.zoom {
		zoom: 1.1;
		-moz-transform: scale(1.1);
		-moz-transform-origin: 0 0;
		-o-transform: scale(1.1);
		-o-transform-origin: 0 0;
		-webkit-transform: scale(1.1);
		-webkit-transform-origin: 0 0;
		transform: scale(1.1);
		transform-origin: 0 0;
	}
	.mob__formline {
		padding: 0 154px 0 0;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		overflow: hidden;
		float: left;
	}
	#travel-search-form {
		position: relative;
	}
	.footer .footer__nav {
		position: absolute;
		right: 0;
	}
	.search__companion__list .search__companion__info {
		margin: 0 0 14px 0;
	}
	#search-result-container {
		padding: 15px 0 0 0;
	}
	.search__companion__list .search__companion__item:nth-child(odd) {
		clear: both;
	}
	.setting__item__date .setting__item__date__text {
		width: auto;
		float: none;
	}
	.setting__item__date .setting__item__date__text p {
		width: auto;
	}
	.setting__item__date .setting__item__date__select {
		float: none;
		margin: 10px 0 0 0;
	}
	.companion__title {
		width: auto;
		float: none;
	}
	.site-menu .site-menu-first a {
		margin: 14px 20px 0 65px;
		font-size: 23px;
	}
	.site-menu .site-menu-list {
		margin: 0;
	}
	.site-menu .site-menu-list li a {
		padding-left: 72px;
		font-size: 23px;
		height: 66px;
		line-height: 66px;
	}
	.site-menu .site-menu-first a:before {
		top: 3px;
		zoom: 1.3;
		left: -34px;
	}
	.site-menu li.menu-icon-search a:before {
		left: 18px;
		top: 16px;
		zoom: 1.3;
	}
	.site-menu li.menu-icon-travels a:before {
		left: 16px;
		top: 14px;
		zoom: 1.3;
	}
	.site-menu li.menu-icon-travellers a:before {
		left: 14px;
		top: 14px;
		zoom: 1.3;
	}
	.site-menu li.menu-icon-places a:before {
		left: 15px;
		top: 10px;
		zoom: 1.3;
	}
	.site-menu li.menu-icon-countries a:before {
		left: 15px;
		top: 14px;
		zoom: 1.3;
	}
	.site-menu li.menu-icon-rating a:before {
		left: 16px;
		top: 14px;
		zoom: 1.3;
	}
	.search__companion__change {
		float: none;
		text-align: center;
		font-size: 18px;
		background: none;	
		display: block;
		padding: 0 0 5px 0;	
		margin: -15px 0 6px 0;	
	}
	.search__companion__change:before {
		display: inline-block;
		content: "";
		width: 7px;
		height: 8px;
		margin: 0 5px 0 0;
    	background: url(http://triplook.info/images/companion_change.png) left center no-repeat;
	}
	.auth {
		width: auto;
	}
	.auth .auth__block .auth__block_item input {
		width: 180px;
	}
	.auth .auth__block .auth__block_item {
		width: 200px;
	}
	.reg2__icon {
		width: auto;
		float: none;
	}
	.reg2__info {
		float: none;
		width: auto;
		margin: 0;
	}
	.single__auth {
		width: auto !important;
	}
	.single .single__inner {
		width: auto !important;
	}
	#avatar-current-image {
		width: 300px;
		margin: 0 auto 20px;
	}
	.reg2__btn {
		text-align: center;
	}
}
@media (max-width: 1200px) {
}
